<br>
<br>
<h2>Contact Us</h2>
<br>
<p>
<b>Gang Peng, Ph.D.</b> <br>
Assistant Professor <br>
Department of Medical and Molecular Genetics, Indiana University School of Medicine (IUSM) <br>

<b>Email: gangpeng@iu.edu</b><br>
<br>
</p>

<h3>Interested in joining our lab?</h3>

<p>
  We are always looking for motivated and talented people.
  <strong>
    Open positions are listed on our
    <a href="{{ site.baseurl }}/join/">Join</a>
    page.
  </strong>
</p>

<h4>Lab GitHub</h4>
<p>
  <a href="https://github.com/PengBioinformaticsLab" target="_blank">
    https://github.com/PengBioinformaticsLab
  </a>
</p>





